// ====================start resume css===========
#resume{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.6)), url('../image/resum-bg.jpg')  top center fixed;
    background-size: cover;
    overflow: hidden;
    .res-icon{
        font-size: 3rem;
        color: $hover-color;
    }
    .count{
        font-family: $title-font;
        font-size: 3rem;
        color: $white;
        font-weight: 200;
    }
    p{
        font-family: $title-font2;
        color: #b2bec3;
    }
}