$deafult-font : 'Roboto', sans-serif;
$title-font: 'Josefin Sans', sans-serif;
$title-font2: 'Merriweather', serif;
$font-body: 'Source Sans Pro', sans-serif;
$font-body2: 'Poppins', sans-serif;
$def-fontsiz : 15px;
$white : #fff;
$title-clr: #c6c7c7;
$hover-color: #F79F1F;
$font-color: #747d8c;
$black: #2f3640;
$input-border: #0652DD;
